<p>Already have an account? <%= link_to "log in", log_in_path %> </p>
<h2>Sign Up </h2>
<%= form_with model: @user do |u|%>
    <%if @user.errors.any?%>
    <div>
    <ul>
    <% @user.errors.full_messages.each do |m|%>
    <li><%=m%></li>
    <%end%></ul>
    </p>
    </div>
    <%end%>
<%=u.label:Name %><br>
<%=u.text_field:name %><br>
<%=u.label:Email%><br>
<%=u.text_field:email%><br>
<%=u.label:Password %><br>
<%=u.password_field:password %><br>
<%=u.label:ConfirmPassword %><br>
<%=u.password_field:password_confirmation %><br>
<%=u.label:User_type%><br>
<%=u.select(:user_type, options_for_select(User::USER_TYPE))%>
<%
=begin%>
 <%=u.select:user_type , options_for_select(User::USER_TYPE),{prompt:"select user type"}%><br><br> 
<%
=end%>
 <%
=begin%>
 <%= u.select :role, collection: User.roles.keys.to_a %> 
<%
=end%>


<%=u.submit:SignUp%>

<%end%>
