<%= form_with model:projects do |form| %>
<% if projects.errors.any? %>
   <div>
      <ul>
      <% projects.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :name, placeholder: "Project Title" %>
   <%= form.text_field :description, placeholder: "Project Description" %>
  <%= form.fields_for :project_users do |pu_form| %>


 <%=pu_form.collection_select(:user_id, User.all, :id, :name, prompt: true)%>  


  <% end %>
  <%= form.submit %>
<% end %>