<%= form_with model:projects do |form| %>
<% if projects.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projects.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% projects.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :name, placeholder: "Project Title" %>
   <%= form.text_field :description, placeholder: "Project Description" %>
  <%= form.fields_for :project_users do |pu_form| %>


 <%=pu_form.collection_select(:user_id, User.all, :id, :name, prompt: true)%>  

 <%
=begin%>
 <%= pu_form.collection_check_boxes :user_id, User.all, :id, :name  do |b| %>
    <li>
      <%= b.check_box %>
      <%= b.label %>
    </li>
<% end %> 
<%
=end%>
  <% end %>
  <%= form.submit %>
<% end %>