<h2>description</h2>
<p> Praoject name :<%= @projects.name%></p>

<p>Description:  <%=@projects.description%></p>
<p>Users:<%@projects.users.each do |u|%>
<%= link_to u.name , user_path(u)%>
<%=link_to "remove User"%>
<br>
<%end%>
<br>
<h2>Add a Bug</h2>

<%=link_to "add bug", new_bug_path%>

   












