
    <%= form_with model: @bugs do |form| %>
      <p>
    <%= form.label :Title %><br>
    <%= form.text_field :title%>
    </p>

        <div class="field">
            <%= form.label :typeOf, class:"form-control" %><br />
            <%= form.select(:typeOf, Bug.typeOfs.keys.map {|role| [role.titleize,role]}) %>
          </div>

      <div class="field">
        <%= form.label :status_is, class:"form-control" %><br />
        <%= form.select(:status_is, Bug.status_is.keys.map {|role| [role.titleize,role]}) %>
      </div> 
      <p>
            <%= form.label :Project%><br>
            <%= form.collection_select(:project_id , Project.all, :id, :name, prompt: "Selcect Project") %><br>
            <br>
            <%= form.label :Creater%><br>
            <%= form.collection_select(:user_id , User.all, :id, :name, prompt: "Selcet User/Creater") %><br><br>
            <%= form.submit %>
      </p>

   <%end%>
   


  