<h2>Bugs</h2>

 <div>

  <p>
    <strong>Title:</strong>
    <%= @bugs.title%>

  </p>
  <p>
    <strong>Bug_type:</strong>
    <%= @bugs.b_type %>
  </p> 
 <p>
<strong>Belongs_to project:</strong>
    <%= @bugs.project.name %>
  </p>   

 <p>
 <strong>Belongs_to creater:</strong>
    <%= @bugs.user.name %>
  </p>  
<p>
<%=link_to "edit " , edit_bug_path ,class:"btn btn-success"%>
 <%=link_to "delete" , bug_path(@bugs) ,data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  },class:"btn btn-danger" %> 

</p>

</div>